@media (min-width: 1200px) {
    .content {
        flex: 1; /* Bu içerik alanının sayfa boyunca genişlemesini sağlar */
    }

    .content > p {
        font-family: Montserrat-Regular;
        font-size: 16px;
        color: #696969;
    }

    .content > h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0.4em;
        font-family: monrope-700;
        font-size: 25px;
    }


    html, body {
        height: 100%;
        margin: 0;
        width: 100%;
        overflow-x: hidden; /* Yatay kaydırmayı engeller */
    }

    body {
        display: flex;
        flex-direction: column;
    }

    .group4 {
        /*margin-top: 10px;*/
        margin-bottom: 65px;
    }

    #gruop4div1h3 {
        text-align: center;
        color: #15b8ae;
        font-family: monrope-700;
        font-size: 30px;
        margin-top: 2em;
        margin-bottom: 20px;
    }

    #gruop4div1h2 {
        margin-top: 0.5em;
        text-align: center;
        color: black;
        font-family: monrope-700;
        font-size: 20px;
    }
}