{% extends "homepagebase.html" %}
{% block content %}
    {% load static %}
    {% include 'menu.html' %}

    <div class="container-fluid" id="hbackground">
        <div class="row">
            <div class="col-lg-6">
                <div id="mainanasayfabaslikdiv">
                    <div>
                        <h2 id="h2mainfirma">Uzman İnsan Kaynakları</h2>
                    </div>
                    <div>
                        <h1 id="h1mainhizmet" class="underline-animation"
                            style="color: white; font-family: monrope; line-height: 1.5; ">
                            İnsan Kaynakları Hizmetleri <br>İş Gücü Yönetiminde
                            <span >
                                Lider Çözümler
                            </span>
                        </h1>
                    </div>
                    <div>
                        <button type="button" class="btn" id="maindahafazlabutton">
                            HAKKIMIZDA
                        </button>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 d-none d-sm-block">
                <div id="col2groupheader">
                    <div>
                        <span>
                                <img src="{% static 'imagehomepage/accepticon.png' %}" alt="Accept Icon">
                                <span style="font-family: Karla-Regular; color: #dddddd; font-size: 18px;">
                                    Kurumsal eğitim programlarımızla çalışan performansınızı yükseltin
                                </span>
                        </span>
                    </div>
                    <div>
                        <span>
                            <img src="{% static 'imagehomepage/accepticon.png' %}" alt="Accept Icon">
                            <span style="">
                                İnsan kaynakları süreçlerinde stratejik çözümler
                            </span>
                        </span>
                    </div>
                    <div>
                        <span>
                            <img src="{% static 'imagehomepage/accepticon.png' %}" alt="Accept Icon">
                            <span style="font-family: Karla-Regular; color: #dddddd; font-size: 18px;">
                                Entegre HR yazılım sistemlerimiz ile kurum performansınızı yükseltin
                            </span>
                        </span>
                    </div>
                    <div>
                        <span>
                            <img src="{% static 'imagehomepage/accepticon.png' %}" alt="Accept Icon">
                            <span style="font-family: Karla-Regular; color: #dddddd; font-size: 18px;">
                                Kurum kimliğine entegre yazılım sistemleri
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <div class="container" style="position: relative" id="divgroup2">
        <div class="row">
            <div class="col-lg-6">
                <div>
                    <img id="ikbdiv" class="d-none d-sm-block"
                         src="{% static 'imagehomepage/uzman-insan-kaynakları-meeting-image.webp' %}"
                         alt="uzman-insan-kaynakları-meeting-image">
                </div>
                <div id="homepagegruop1image2" class="d-none d-sm-block">
                    <img src="{% static 'imagehomepage/uzman-insan-kaynakları-meeting-image2.webp' %}" alt="">
                </div>
                <div id="homepagegruop1image3" class="d-none d-sm-block">
                    <img src="{% static 'imagehomepage/uzman-insan-kaynakları-meeting-image3.webp' %}" alt="">
                </div>
            </div>


            <div class="col-lg-6">
                <div id="group2div">

                    <div id="group2group1">
                        <div>
                            <h2 id="group3h1">Stratejik İnsan Kaynakları Hizmeti</h2>
                        </div>
                        <div>
                            <p style="font-family: Montserrat-Regular; font-size: 16px; color: #6d6d6d;">
                                Profesyonel ekibimizle, işletmenizin ihtiyaçlarına özel insan kaynakları çözümleri
                                sunuyoruz.
                                Deneyimimiz ve uzmanlığımızla , işe alım süreçlerinizi ve personel organizasyonlarınızı
                                optimize ederek,
                                en yetenekli adayları bulmanıza ve iş gücünüzü etkili bir şekilde yönetmenizi
                                sağlıyoruz.
                                Deneyimimiz ve uzmanlığımızla işletmenizin insan kaynakları ihtiyaçlarına çözüm
                                üretiyoruz.
                            </p>
                        </div>
                    </div>


                    <div id="group2group1div">
                        <div id="group3group1">
                            <div class="d-flex align-items-center justify-content-center"
                                 style="background-color: #15b8ae; height: 80px; width: 80px">
                                <img src="{% static 'imagehomepage/uzman-insan-kaynakları-group-1-icon1.ico' %}" alt="">
                            </div>
                            <div>
                                <h2 id="div2h2">Head Hunter</h2>
                            </div>
                            <div>
                                <p style="font-family: Montserrat-Regular; font-size: 16px; color: #6d6d6d;">
                                    Şirketinizin başarısı, doğru yetenekleri bulma ve işe alma sürecinde yatmaktadır.
                                    İşte bu noktada, Head Hunter yani baş avcısı, işe alım sürecinizi profesyonelce
                                    yöneten uzman kişilerdir. Biz, insan kaynakları danışmanlığı alanında sunduğumuz
                                    Head Hunter hizmetleri ile şirketinizin büyümesine ve güçlenmesine katkı sağlıyoruz.
                                </p>
                            </div>
                        </div>

                        <div id="group3group2">
                            <div class="d-flex align-items-center justify-content-center"
                                 style="background-color: #15b8ae; height: 80px; width: 80px">
                                <img src="{% static 'imagehomepage/uzman-insan-kaynaklari-solution.ico' %}" alt="">
                            </div>
                            <div>
                                <h2 id="div2h2">Kurumsal
                                    Çözümler</h2>
                            </div>
                            <div>
                                <p style="font-family: Montserrat-Regular; font-size: 16px; color: #6d6d6d;">
                                    Firmamız, iş dünyasındaki zorluklarla başa çıkmanıza ve insan kaynakları alanında en
                                    iyi performansı elde etmenize yardımcı olmak için burada. Kurumsal çözümlerimiz,
                                    işletmenizin büyüme hedeflerine ulaşmasına katkıda bulunmak için özel olarak
                                    tasarlanmıştır.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {% include 'callback.html' %}


    <div class="container-fluid fade-out-right" id="divgroup3">
        <div class="row">

            <div class="col-lg-6" id="divgroup3col1">

                <div class="page-content" id="animationy">

                    <div id="divgroup3col1div1">
                        <div>
                            <h3 id="divgroup3col1h3">İnsan Kaynakları Danışmanlığı Neden Önemli?</h3>
                        </div>
                        <div>
                            <p id="divgroup3col1petiketi1">İnsan kaynakları danışmanlığı, işletmelerin insan
                                kaynakları yönetimi konusundaki
                                stratejilerini geliştirmelerine ve etkin bir şekilde uygulamalarına yardımcı olan
                                kritik bir
                                süreçtir. Bu hizmet, şirketlerin en değerli varlıkları olan çalışanlarını etkili bir
                                şekilde
                                yönetmelerine, geliştirmelerine ve motive etmelerine yardımcı olur. İnsan kaynakları
                                danışmanları, işletmelerin personel yönetimi, eğitim, performans değerlendirmesi,
                                işe alım
                                ve diğer İK süreçlerinde en iyi uygulamaları benimsemelerine rehberlik eder. Bu,
                                işletmelerin daha rekabetçi ve sürdürülebilir hale gelmelerini sağlar.</p>
                        </div>
                    </div>

                    <div class="divgroup3col1div2-container">
                        <div id="divgroup3col1div2group1">
                            <div class="d-flex align-items-center justify-content-center"
                                 style="background-color: #15b8ae; height: 80px; width: 80px">
                                <img src="{% static 'imagehomepage/uzman-insan-kaynakları-borlama-hizmeti.ico' %}"
                                     alt="">
                            </div>
                            <div>
                                <h3 style="color: white; font-family: monrope-700; font-size: 23px">Bordrolama</h3>
                            </div>
                            <div>
                                <p style="font-family: Montserrat-Regular; font-size: 15px; color: #dcdcdc;">
                                    Bordrolama hizmetleri, işletmelerin maaş ve özlük işlemlerini düzenleyerek finansal
                                    güvencelerini sağlamalarına yardımcı olur.Deneyimli kadromuz, yasal düzenlemelere
                                    uygun, doğru
                                    ve güvenilir bordro işlemleriyle işletmenizin finansal sağlığını güçlendirir.


                                </p>
                            </div>
                        </div>

                        <div id="divgroup3col1div2group2">
                            <div class="d-flex align-items-center justify-content-center"
                                 style="background-color: #15b8ae; height: 80px; width: 80px;padding-left: 6px">
                                <img src="{% static 'imagehomepage/uzman-insan-kaynakları-işe-alım-ve-yerleştirme-icon.png' %}"
                                     alt="">
                            </div>
                            <div>
                                <h3 style="color: white; font-family: monrope-700; font-size: 23px">İşe Alım Ve
                                    Yerleştirme</h3>
                            </div>
                            <div>
                                <p style="font-family: Montserrat-Regular; font-size: 15px; color: #dcdcdc;">
                                    İşe alım ve yerleştirme süreçleri, işletmenizin başarısı için kritik öneme sahiptir.
                                    Head Hunter İK olarak sunduğumuz işe alım ve yerleştirme hizmetleri, işletmenizin
                                    ihtiyaçlarına uygun yetenekleri bulmanıza ve doğru kişileri doğru pozisyonlara
                                    yerleştirmenize yardımcı olur.
                                    {#                                    Deneyimli ekibimiz, sektöre özel çözümlerle işe alım#}
                                    {#                                    süreçlerinizi optimize eder ve kalifiye adayları bulmanızda size rehberlik eder.#}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="image-container">
                    <img src="{% static 'imagehomepage/uzman-insan-kaynakları-işe-alım.png' %}" alt=""
                         class="img-fluid">

                    <div id="imagegroupdiv1">
                        <div id="chart">
                            <canvas id="myDonutChart" width="125" height="125"></canvas>
                            <div class="center-text">0%</div>
                        </div>
                        <div id="chart1p1">
                            <p>Takım Çalışması</p>
                            <p id="test">
                                İnsan kaynakları sektöründe, etkili bir takım çalışmasıyla başarıya ulaşın.
                            </p>
                        </div>
                    </div>

                    <div id="imagegroupdiv2">
                        <div id="chart2">
                            <canvas id="myDonutChart2" width="125" height="125"></canvas>
                            <div id="chart2value" class="center-text">0%</div>
                        </div>
                        <div id="chart1p1">
                            <p>Takım Çalışması</p>
                            <p id="test">
                                İnsan kaynakları sektöründe, etkili bir takım çalışmasıyla başarıya ulaşın.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="group4">
        <h3 id="gruop4div1h3">İş Alım Ve Organizasyon Yönetimi</h3>
        <h2 id="gruop4div1h2">İşe Alım Yöntemleri Ve Organizasyonel Başarı </h2>
    </div>


    <div class="container" id="group4div">
        <div class="row">
            <div class="col-lg-6">
                <div id="gruop4div">
                    <div id="group4div2tag">
                        <div id="isealimimage">
                            <img src="{% static 'imagehomepage/uzman-insan-kaynakları-işe-alım-ve-yayınlama.png' %}"
                                 alt="">
                        </div>
                        <div id="isealimh4">
                            <h4>İşe Alım Ve İlan Yayınlama</h4>
                        </div>
                    </div>
                    <div id="group4div3">
                        <p>İşe alım ve ilan yayınlama hizmetimiz, iş dünyasının dinamik ihtiyaçlarına hızlı ve
                            etkili
                            çözümler sunarak işverenlere ve iş arayanlara değer katmaktadır.</p>
                    </div>
                    <div id="group4div4">
                        <a href="">
                            Daha Fazla
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div id="gruop4div2">
                    <div id="group4div2tag">
                        <div id="isealimimage2">
                            <img src="{% static 'imagehomepage/uzman-insan-kaynakları-dönemsel-personel-organizasyon-hizmeti.png' %}"
                                 alt="">
                        </div>
                        <div id="isealimh42">
                            <h4>Dönemsel Personel Organizasyon Hizmeti</h4>
                        </div>

                    </div>
                    <div id="group4div3">
                        <p>Esnek dönemsel personel organizasyon hizmetimizle iş süreçlerinizi optimize edin, rekabet
                            avantajı elde edin. </p>

                    </div>
                    <div id="group4div42">
                        <a href="">
                            Daha Fazla
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'callback.html' %}
    {% include 'footer.html' %}





{% endblock %}