{% load static %}
<div class="container" id="callbackdiv">

    <div class="row">

        <div class="col-lg-6">
            <p id="ikcallback">İnsan kaynakları hizmetlerimiz hakkında daha fazla bilgi almak ve ihtiyaçlarınıza yönelik
                çözümlerimizi
                keşfetmek için ,<br> Sizi Aramamızı İster Misiniz?</p>
        </div>


        <div class="col-lg-6">
            <div class="containermain">
                <div>
                    <button type="button" class="btn" id="callbackbutton">
                        İLETİŞİM
                    </button>
                </div>
                <div>
                    <div class="containercallback">
                        <div id="callimageicon">
                            <img src="{% static 'image/callback.png' %}" alt="">
                        </div>
                        <div>
                            <a href="tel:+905423322883" id="callbacknumara">+90 534 239 24 29</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>