{% load static %}

<div class="footerbackground">
    <div class="container-fluid" id="containerfooter">
        <div class="row">

            <div class="col-md-4">
                <div id="footermailbultenmaindiv">
                    <div>
                        <div>
                            <p id="bultennameptag">Bültenimize Abone Olun & En Son Haberleri Alın</p>
                        </div>
                        <div id="mailgroup">

                            <div>
                                <input type="text" name="" id="mailregisterinput" placeholder="Mail Adresi">
                            </div>

                            <div>
                                <button type="button" class="btn" id="mailaboneolbutton">
                                    Abone Ol
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="socialmediagroup">

                    <div class="socialmediagroupdiv1">

                        <div>
                            <div class="socialmediasquare d-flex align-items-center justify-content-center"><img
                                    src="{% static 'image/socialmediaicon/talent-dynamics-group-instagram.png' %}"
                                    alt=""></div>
                            <div class="socialmediasquare d-flex align-items-center justify-content-center"><img
                                    src="{% static 'image/socialmediaicon/talent-dynamics-group-linkedln.png' %}"
                                    alt=""></div>
                            <div class="socialmediasquare d-flex align-items-center justify-content-center"><img
                                    src="{% static '/image/socialmediaicon/talent-dynamics-group-facebook.png' %}"
                                    alt=""></div>
                            <div class="socialmediasquare d-flex align-items-center justify-content-center"><img
                                    src="{% static '/image/socialmediaicon/talent-dynamics-group-x.png' %}" alt="">
                            </div>
                        </div>

                    </div>

                </div>

                <div class="footeriletisimgroup">
                    <div>
                        <div>
                            <img src="{% static 'image/socialmediaicon/talent-dynamics-group-white-mail.png' %}" alt="">
                        </div>
                        <div id="mailatag">
                            <a href="mailto:info@talentdynamicsgroup.com">info@talentdynamicsgroup.com</a>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="{% static 'image/socialmediaicon/talent-dynamics-group-white-call.png' %}" alt="">
                        </div>
                        <div id="mailatag">
                            <a href="mailto:info@talentdynamicsgroup.com">+90 542 332 28 83</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <div id="footeriskur">
                    <div>
                        <img id="iskurozelisdihdambelgesilogo"
                             src="{% static '/image/socialmediaicon/talent-dynamics-group-iskur-özel-istihdam-belgesi-logo.webp' %}"
                             alt="">
                    </div>
                    <div id="sayilikanundiv">
                        <p id="sayilikanun">Metin İnsan Kaynakları Yönetim Hizmetleri Ltd. Şti. Türkiye İş Kurumu
                            tarafından 13821706
                            sayılı karar uyarınca ve 1493 belge numarası ile faaliyet göstermektedir. 4904 sayılı kanun
                            uyarınca iş arayanlardan ücret alınması yasaktır.</p>
                    </div>
                </div>


                <div id="iskuradres">
                    <p>
                        İşkur İstanbul İl Müdürlüğü Adres : Hacımimi, Lüleciler Cd. No:4, 34425 Beyoğlu/İstanbul
                        <br>
                        <br>
                        İşkur İstanbul İl Müdürlüğü İletişim : (0 212) 249 29 87
                        <br>
                        <br>
                        İşkur İletişim Hattı : 444 75 87

                    </p>
                </div>


            </div>

            <div class="col-md-2" id="containeryasa">
                <div id="yasaldiv">
                    <ul>
                        <li>
                            <a href="">Kişisel Verilerin Korunması & Bilgi Güvenliği Politikamız </a>
                            <a href="">Yasal Süreçler</a>
                            <a href="">Çerezler Hakkında</a>
                        </li>
                    </ul>
                </div>
                <div></div>
            </div>

        </div>
    </div>
</div>