<nav class="navbar navbar-expand-lg" style="background-color: #0b0c13; height: 80px;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item me-4">
                    <a class="nav-link active" aria-current="page" style="font-family: BaslikFont2; color: white;"
                       id="underlinehome" href="#">ANASAYFA</a>
                </li>
                <li class="nav-item me-4 underlineposition">
                    <a class="nav-link active" aria-current="page" style="font-family: BaslikFont2; color: white;"
                       href="#">HAKKIMIZDA</a>
                </li>
                <li class="nav-item me-4 dropdown underlineposition">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       style="font-family: BaslikFont2; color: white;"
                       aria-expanded="false">
                        İNSAN KAYNAKLARI
                    </a>

                    <ul class="dropdown-menu">
                        {% for post in blog_posts %}
                            <li><a class="dropdown-item"
                                   href="{% url 'blog_detail' slug=post.slug %}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item me-4 underlineposition">
                    <a class="nav-link active dropdown-toggle" aria-current="page"
                       style="font-family: BaslikFont2; color: white; " href="#">KURUMSAL EĞİTİM</a>
                </li>
                <li class="nav-item me-4 underlineposition">
                    <a class="nav-link active dropdown-toggle" aria-current="page"
                       style="font-family: BaslikFont2; color: white;" href="#">YAZILIM HİZMETİ</a>
                </li>
                <li class="nav-item me-4 iletisimbuttondesing" style="background-color:#15b8ae">
                    <a class="nav-link active" aria-current="page"
                       style="font-family: BaslikFont2; color: white; text-align: center" href="#">İLETİŞİM</a>
                </li>
            </ul>
        </div>
    </div>
</nav>